
<div id="nav">
<b>Usted está aquí:</b>

<% p = @nav %>
<% if (p.class.to_s=="Modulo") then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'recursos') %>
 > <%= link_to p.ciclo.centro.codigo, url_for(:controller => 'centros', :action => 'show', :id => p.ciclo.centro.id) %>
 > <%= link_to p.ciclo.codigo, url_for(:controller => 'ciclos', :action => 'show', :id => p.ciclo.id) %>
 > <%= h p.codigo %>

<%  elsif (p==:modulos) then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'recursos') %>
 > <%= link_to "Centros", url_for(:controller => 'centros') %>
 > <%= link_to "Ciclos", url_for(:controller => 'ciclos') %>
 > Módulos

<% elsif (p.class.to_s=="Ciclo") then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'recursos') %>
 > <%= link_to p.centro.codigo, url_for(:controller => 'centros', :action => 'show', :id => p.centro.id) %>
 > <%= link_to p.codigo, url_for(:controller => 'ciclos', :action => 'show', :id => p.id) %>
 > Módulos

<% end %>

</div>
