
<div id="nav_int">

<% a = controller.action_name %>

<p>
<% if (a=="index") then %>
<% elsif (a=="list") then %>
	<%= link_to 'Nuevo peso', url_for(:action => 'new', :id => @asignatura.id) %> | 
	<%= link_to 'Ir a '+@asignatura.codigo, url_for(:controller=>'asignaturas',:action => 'show', :id => @asignatura.id) %>
<% elsif (a=="new") then %>
	<%= link_to 'Ver todos', url_for(:action => 'list', :id => @asignaturas[0].id) %>
<% elsif a=="show" || a=="" then %>
	<%= link_to 'Ver todos', url_for(:action => 'list', :id => @peso.asignatura.id) %> | 
   Mostrar |
   <%= link_to 'Editar', edit_peso_path(@peso) %> |
	<%= link_to 'Borrar', @peso, :confirm => '¿Desea eliminar el registro?', :method => :delete %>
<% elsif a=="edit" then %>
	<%= link_to 'Ver todos', url_for(:action => 'list', :id => @peso.asignatura.id) %> | 
   <%= link_to 'Mostrar', peso_path(@peso) %> |
    Editar |
	<%= link_to 'Borrar', @peso, :confirm => '¿Desea eliminar el registro?', :method => :delete %>
<% end %>
</p>
</div>
