
<div id="nav_int">

<% p = @nav %>
<% a = controller.action_name %>

<p>
<% if (a=="index") then %>
  <%= link_to 'Nuevo peso', new_peso_path %>
<% elsif (a=="new" && p==:pesos) then %>
  <%= link_to 'Ver todos', pesos_path %>
<% elsif (a=="new" && p.class.to_s=="Programacion") then %>
  <%= link_to 'Listar', url_for(:action => 'list', :id => p.id) %>
<% elsif (a=="list" && p.class.to_s=="Programacion") then %>
  <%= link_to 'Nuevo peso', url_for(:action => 'new', :id => p.id) %>
<% elsif (p.class.to_s=="Peso") then %>
  <% if a=="show" then %>
    Mostrar |
  <% else %>
    <%= link_to 'Mostrar', peso_path(@peso) %> |
  <% end %>
  <% if a=="edit" then %>
    Editar |
  <% else %>
    <%= link_to 'Editar', edit_peso_path(@peso) %> |
  <% end %>
  <%= link_to 'Borrar', @peso, :confirm => '¿Desea eliminar el registro?', :method => :delete %> |
  <%= link_to 'Listar', url_for(:action => 'list', :id => @peso.programacion_id) %>
<% end %>
</p>
</div>
