<h1>Editar curso <%= @curso.codigo %></h1>

<p><%= link_to 'Mostrar', @curso %> |
 <%= link_to 'Borrar', @curso, :confirm => '¿Desea eliminar el registro?', :method => :delete %> |
 <%= link_to 'Listar', url_for(:action => 'list', :id => @curso.centro.id) %>
</p>

<div id="dat">
<% form_for(@curso) do |f| %>
  <%= f.error_messages %>
 <table>
     <tr>
      <td><label for="centro_id">Centro</label></td><td><%= collection_select 'curso', :centro_id, @centros, :id, :codigo %></td>
    </tr>
    <tr>
      <td><label for="codigo">Código</label></td><td><%= text_field 'curso', 'codigo' %></td>
    </tr>
    <tr>
      <td><label for="inicio_clases">Fecha de inicio de las clases</label></td><td><%= date_select 'curso', 'inicio_clases' %></td>
    </tr>
    <tr>
      <td><label for="fin_eval1">Fin de la 1ª evaluación</label></td><td><%= date_select 'curso', 'fin_eval1' %></td>
    </tr>
    <tr>
      <td><label for="fin_eval2">Fin de la 2ª evaluación</label></td><td><%= date_select 'curso', 'fin_eval2' %></td>
    </tr>
    <tr>
      <td><label for="fin_eval3">Fin de la 3ª evaluación</label></td><td><%= date_select 'curso', 'fin_eval3' %></td>
    </tr>

    <tr>
      <td></td><td><%= f.submit "Modificar" %></td>
    </tr>
  </table>
<% end %>
</div>
