<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Empresas: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'bloque' %>
  <%= stylesheet_link_tag 'menu' %>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<%= render :partial => 'menus/tab' %>
<%= render :partial => 'nav'%>
<%= render :partial => 'menus/ira_recursos' %>

<div id="contenido">
  <p style="color: green"><%= flash[:notice] %></p>
  <%= yield  %>
</div>

<%= render :partial => 'bloque_extra' %>
<%= render :partial => 'menus/pie' %>

</body>
</html>
