<h1>New parametro</h1>

<% form_for(@parametro) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :variable %><br />
    <%= f.text_field :variable %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', parametros_path %>
