

<div id="nav">
<b>Usted está aquí:</b>

<% p = @nav %>
<% if (p.class.to_s=="Departamento") then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'centro') %>
 > <%= link_to p.centro.codigo, url_for(:controller => 'centros', :action => 'show', :id => p.centro.id) %>
 > <%= h p.codigo %>

<%  elsif (p==:departamentos) then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'centro') %>
 > <%= link_to "Centros", url_for(:controller => 'centros') %>
 > Departamentos

<% elsif (p.class.to_s=="Centro") then %>
<%= link_to "Recursos del Centro", url_for(:controller => 'menus',:action => 'centro') %>
 > <%= link_to p.codigo, url_for(:controller => 'centros', :action => 'show', :id => p.id) %>
 > Departamentos

<% end %>

</div>
