<h1>Nuevo ciclo</h1>

<%= render :partial => 'nav_int' %>

<div id="dat">
<% form_for(@ciclo) do |f| %>
  <%= f.error_messages %>
 <table>
    <tr>
      <td><label for="centro_id">Centro</label></td><td><%= collection_select 'ciclo', :centro_id, @centros, :id, :codigo %></td>
    </tr>
    <tr>
      <td><label for="codigo">Código</label></td><td><%= text_field 'ciclo', :codigo %></td>
    </tr>
    <tr>
      <td><label for="nombre">Nombre</label></td><td><%= text_field 'ciclo', :nombre %></td>
    </tr>
    <tr>
      <td><label for="activo">Activo</label></td><td><%= check_box 'ciclo', :activo %></td>
    </tr>

    <tr>
      <td></td><td><%= f.submit "Crear" %></td>
    </tr>
  </table>
<% end %>
</div>
